<section class="container shadow-sm p-4 my-5 bg-body-tertiary rounded">
  <h5 class="text-center">Editar Campanha Promocional</h5>

  <%= render 'form', promotional_campaign: @promotional_campaign, companies: @companies %>
</section>