<div class="container shadow p-2 mb-4 bg-body-tertiary rounded div-max-width">
  <h5 class="text-center">Editar Campanha Promocional</h5>
</div>

<%= render 'form', promotional_campaign: @promotional_campaign, companies: @companies %>