<section>
  <div class="container shadow p-2 my-4 bg-body-tertiary rounded">
    <h2 class="text-center">Cadastrar Campanha Promocional</h2>

    <%= render 'form', promotional_campaign: @promotional_campaign, companies: @companies %>
  </div>
</section>