<section class="container shadow-sm p-4 my-5 bg-body-tertiary rounded">
  <h2 class="text-center">Editar Preço Sazonal</h2>

  <%= render 'product_info', product: @product %>

  <%= render 'form', seasonal_price: @seasonal_price %>
</section>
