<div class="container-lg mt-4">
  <% if user_signed_in? && session[:status_user] == 'unblocked' %>
    <% @campaigns.each do |campaign|%>
      <%= render partial: "carousel", locals:{ products: campaign.products.where(active: true), id: "#{campaign.name.parameterize}", title: "#{campaign.company.brand_name} - #{campaign.name}" }%>
    <% end %>
  <% end %>
  <%= render partial: "carousel", locals:{ products: @products, id: "recent_products", title: t(:recent_products)}%>
</div>
