<div class="container-lg">
<h4>Produtos</h4>

<% @products.each do |product| %>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="" style="width:200px;height:200px;">
      <div class="card-body">
        <h5 class="card-title"><%= product.name %></h5>
        <p><%= product.price.round %> Pontos</p>
      </div>
    </div>
<% end %>
</div>