<div class="container-lg">
<h4>Produtos</h4>
  <%= render partial: "carousel", locals:{ products: @products, id: "1" }%>
<% if @products_category_last.present? %>
  <h4><%= @products_category_last.name %></h4>  
  <%= render partial: "carousel", locals:{ products: @products_category_last.products, id: "2"}%>
<% end %>
</div>