<div class="container-lg">
<h4>Produtos</h4>

<div style = "max-width: 200px; max-heigth: 400px;" >
  <%= render 'carousel' %>
</div>

<div class="row">
  <% if @products.any? %>
    <% @products.each do |product| %>
      <div class= "col">
        <div class="card" style="width: 15rem;">
        <%= image_tag "https://picsum.photos/200", alt: "Nome do produto", class:"card-img-top", style: "width: 100%; height:100%;"%>
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <p><%= product.price.round %> Pontos</p>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <h3>Nenhum produto disponível no momento</h3>      
  <% end %>
</div>