<div class="container">
<%= form_with model: @product_category, data: { turbo: false } do |f| %>
  <div class="mb-3">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="mb-3">
    <%= f.submit %>
  </div>
<% end %>
</div>