<section>
  <%= link_to 'Nova Categoria', new_product_category_path %>
 
 <h2>Categorias de produto</h2>
 
  <ul>
    <% @product_categories&.each do |product_category| %>
      <li>
        <%= product_category.name %>

        <% if product_category.type == 'ProductCategory' %>
          <%= link_to 'Editar', edit_product_category_path(product_category.id) %>
        <% else %>
          <%= link_to 'Editar', edit_product_subcategory_path(product_category.id) %>
        <% end %>
      </li> 
    <% end %>
  </ul>
</section>
