body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

a,
a:hover {
  color: black;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.resize-sml {
  height: auto;
  width: auto;
  max-width: 80px;
  max-height: 80px;
}

// Para tirar as setas do campo number_field
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.resize-big {
  height: auto;
  width: auto;
  max-width: 450px;
  max-height: 300px;
}

.image-size {
  width: 450px;
  height: 300px;
}

.img-cursor {
  cursor: pointer;
}

.product-card {
  width: 15rem;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  .card-body{
    padding-block-end: 0;
  }
}

.card-image {
  width: 200px;
  height: 150px;
}

.resize-promo {
  height: auto;
  width: auto;
  max-width: 80px;
  max-height: 80px;
}

p.approved {
  color: var(--bs-success);
}

p.rejected {
  color: var(--bs-danger);
}

p.pending {
  color: var(--bs-orange);
}

.order-details-img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
