.image-size {
  width: 450px;
  height: 300px;
}

.img-cursor {
  cursor: pointer;
}

.product-card {
  width: 250px;
  height: 100%;
  margin-inline: auto;
}

.clean-button {
  background-color: transparent;
  border: 0;
}
