<p><%= ('.congratulations', identifier: @email) %></p>

<p><%= t('.to_join_us_confirm') %></p>

<p><%= link_to t('.confirm_my_acccount'), confirmation_url(@resource, confirmation_token: @token) %></p>
