<% if flash.any? %>
  <div class="flash-outer" id="flashMessage" data-controller="removals"
       data-action="animationend->removals#remove">
    <% flash.each do |key, value| %>
      <div class="alert flash alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>
  </div>
<% end %>


