<footer class="bg-light">
  <div class="d-flex justify-content-evenly align-items-center" style="height:100px;">
    <div>
      Copyright &copy; Loja do Clube, 2023
    </div>
    <div>
      <%= link_to "Loja do Clube", root_path, class:"nav-link"%>
    </div>
  </div>
</footer>
